<%- include('../partials/head_start') %>
<%- include('../partials/head_end') %>
<%- include('../partials/header_start') %>
<%- include('../partials/header_end') %>
<%- include('../partials/navigation') %>

<main>
 
    <%- include('../partials/welcome') %>
    <%- include('../partials/event') %>

</main>
<script src="index.js"></script>
<%- include('../partials/footer') %>

